@{

    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Course Wise Student List</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="~/assets/css/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/sweetalert.css" rel="stylesheet" />
    <link href="~/assets/css/stylesearch.css" rel="stylesheet" />
    <link href="~/assets/css/stylehome.css" rel="stylesheet" />
    <script src="~/assets/dataTable/dataTables/jquery-3.5.1.js"></script>
    <script src="~/assets/js/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/assets/dataTable/dataTables/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/popperjs/popper.min.js"></script>
    @*<script src="~/assets/js/moment-with-locales.min.js"></script>*@
    <script src="~/assets/js/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/scripts/sweetalert.min.js"></script>
    <link href="~/assets/css/all.css" rel="stylesheet" />
    <link href="~/assets/css/stylereport.css" rel="stylesheet" />
    <link href="~/assets/dataTable/dataTables/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="~/assets/dataTable/dataTables/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/assets/dataTable/dataTables/buttons.dataTables.min.css" rel="stylesheet" />
    <script src="~/assets/dataTable/dataTables/dataTables.buttons.min.js"></script>
    <script src="~/assets/dataTable/dataTables/buttons.html5.min.js"></script>
    <script src="~/assets/dataTable/dataTables/jszip.min.js"></script>
    <script src="~/assets/dataTable/dataTables/pdfmake.min.js"></script>
    <script src="~/assets/dataTable/dataTables/vfs_fonts.js"></script>
    <script src="~/assets/dataTable/dataTables/buttons.print.min.js"></script>

    <style type="text/css">
        select {
            display: block;
            font-size: 12px;
            font-family: sans-serif;
            font-weight: 700;
            color: #444;
            line-height: 1.3;
            padding: .6em 1.4em .5em .8em;
            width: 100%;
            max-width: 100%;
            box-sizing: border-box;
            margin: 0;
            border: 1px solid #aaa;
            box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
            border-radius: .5em;
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            background-color: #fff;
            background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E), linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
            background-repeat: no-repeat, repeat;
            background-position: right .7em top 50%, 0 0;
            background-size: .65em auto, 100%;
        }

        .cus-grid-table {
            height: 100%;
            overflow: auto;
            box-shadow: 0px 0px 5px 0px #ccc;
            padding: 1rem;
            margin-bottom: 5%;
        }

        #cover {
            /*background: url("to/your/ajaxloader.gif") no-repeat scroll center center #FFF;*/
            background-color: rgba(178, 0, 255, 0.81);
            position: fixed;
            top: 0px;
            bottom: 0px;
            height: 100%;
            width: 100%;
            z-index: 100000;
        }

            #cover i {
                /*background: url("to/your/ajaxloader.gif") no-repeat scroll center center #FFF;*/
                margin-left: 50%;
                margin-top: 50vh;
            }

        .btn:disabled {
            opacity: 0.2 !important;
        }

        .card-counter {
            box-shadow: 4px 4px 2px -1px rgba(0,0,0,0.4);
            margin: 5px;
            padding: 10px 10px;
            background-color: #fff;
            height: 75px;
            border-radius: 5px;
            transition: .3s linear all;
            border: 1px solid rgba(0, 0, 0, 0.125);
        }

            .card-counter:hover {
                box-shadow: 4px 4px 20px #DADADA;
                transition: .3s linear all;
            }

            .card-counter.primary {
                /*background-color: #007bff;*/
                background: linear-gradient(to right, #0d47a1, #1976d2 99%) !important;
                background: -webkit-gradient(linear, left top, right top, from(#0d47a1), color-stop(99%, #1976d2)) !important;
                color: #FFF;
            }

            .card-counter.danger {
                background-color: #ef5350;
                color: #FFF;
            }

            .card-counter.success {
                background-color: #66bb6a;
                color: #FFF;
            }

            .card-counter.info {
                background: linear-gradient(to right, #4527a0, #5e35b1) !important;
                background: -webkit-gradient(linear, left top, right top, from(#4527a0), to(#5e35b1)) !important;
                color: #FFF;
            }

            .card-counter i {
                font-size: 4em;
                opacity: 0.5;
                margin-top: -1px;
            }

            .card-counter .fa.fa-spinner {
                font-size: 1.5em !important;
                opacity: 0.5;
            }

            .card-counter .count-numbers {
                position: absolute;
                right: 30px;
                top: 10px;
                font-size: 28px;
                display: block;
                /*font-weight:800;*/
                text-shadow: 10px 10px 0px 0px #333;
            }

            .card-counter .count-name {
                position: absolute;
                right: 30px;
                top: 55px;
                font-style: italic;
                text-transform: capitalize;
                opacity: 0.8;
                display: block;
                font-size: 12px;
                /*font-weight: 700;*/
            }

        .cus-top-cards {
            border: 1px solid #ccc;
            padding: 0.8rem;
            box-shadow: inset 0px 1px 8px 2px #a9a9a9;
        }

        button.dt-button, div.dt-button, a.dt-button {
            padding: 0.01em 0.5em !important;
            font-size: x-large;
        }

        .modalBackground {
            background-color: rgb(192,234,255);
            filter: alpha(opacity=70);
            opacity: 0.7;
            z-index: 100 !important;
        }

        .modalPopup {
            background-color: #ffffff;
            border-width: 3px;
            border-style: solid;
            border-color: Gray;
            padding: 3px;
            /*width: 250px;*/
            z-index: 100;
        }

        .btnPop {
            background-color: #033280;
            color: White;
            font-size: 12px;
            font-weight: bold;
            padding-left: 5px;
        }

        table {
            width: 100% !important;
            font-size: small;
        }
    </style>
    <script>

       var errorFn= function (jqXHR, exception)
        {

            var msg = '';
            if (jqXHR.status === 0)
            {
                msg = 'Not connect.\n Verify Network.';
            } else if (jqXHR.status == 404)
            {
                msg = 'Requested page not found. [404]';
            } else if (jqXHR.status == 500)
            {
                msg = 'Internal Server Error [500].';
            } else if (exception === 'parsererror')
            {
                msg = 'Requested JSON parse failed.';
            } else if (exception === 'timeout')
            {
                msg = 'Time out error.';
            } else if (exception === 'abort')
            {
                msg = 'Ajax request aborted.';
            } else
            {
                msg = 'Uncaught Error.\n' + jqXHR.responseText;
            }
            alert("Error: " + msg);
            $("#cover").fadeOut("slow");
        }
        $(document).ready(function () {
            $("#cover").fadeOut();
            $("#ddlUGPG").on('change', function () {
                getCollegeList();

                //$("#ddlMerit").empty();
                //if ($(this).val() == 'UG') {
                //    $("#ddlMerit").append(`
                //                                <option value="0">Please select Merit List</option>
                //                                <!-- <option value="8">UG First Merit List </option>
                //                                <option value="14">UG Second Merit List</option> -->
                //                                <option value="3">Open Counseling Waiting List</option>
                //                        `);
                //}
                //else {
                //    $("#ddlMerit").empty();
                //    $("#ddlMerit").append(`
                //                                <option value="0">Please select Merit List</option>
                //                                <option value="16">PG First Merit List </option>
                //                          `);
                //}
                //$("#ddlMerit").change();
            });

            $("#ddlCollege").on('change', function () {
                getCourseListArPerCollege($(this).val());
            });

           /* getCollegeList();

            $("#ddlCollege").on('change', function () {
                    getCourseListArPerCollege($(this).val());
            });
            $("#ddlCourse").on('change', function () {
                getSectionListAsPerCourse($(this).val(),$('#ddlCollege').val());
            });

            $("#ddlMerit").on('change', function () {
                if ($(this).val() == 8) { $("#meritHead8").show(); $("#meritHead14").hide(); }
                else if ($(this).val() == 14) { $("#meritHead8").hide(); $("#meritHead14").show(); }
                else { $("#meritHead8").hide(); $("#meritHead14").hide();                }

            });
            */

        });
        var url1 = '@Url.Action("GetSectionList", "Reports")';
        function getSectionListAsPerCourse(courseId, collegeId) {
            $("#cover").fadeIn();
            var dataToSend = {};
            dataToSend.CollegeId = $("#ddlCollege").val();
            dataToSend.CourseId = $("#ddlCourse").val();

            $.ajax({
                url: url1,
                type: 'POST',
                contentType: 'application/json;charset=utf-8',
                dataType: 'json',
                data: JSON.stringify(dataToSend),
                success: function (data) {
                    var ListOfSections = JSON.parse(data);
                    $("#ddlSection").empty();
                    $("#ddlSection").append(`<option value='0'>Please select section</option>`);
                    $.each(ListOfSections.Table, function (i) {
                        $("#ddlSection").append(`<option value='` + ListOfSections.Table[i].SectionId + `'>` + ListOfSections.Table[i].sectionName + `</option>`);
                    })
                    $("#cover").fadeOut();
                },
                error: 
            })
        }

          var url2 = '@Url.Action("GetCollegeListUGPG", "Reports")';
         function getCollegeList() {
            $("#cover").fadeIn();
             var datatosend = {}
             if ($("ddlUGPG").val() != '')
                 datatosend.UGPG = $("#ddlUGPG").val();
             else {
                 swal('error', 'select PG or UG Type');
             }
             $.ajax({

                url: url2,
                type: 'GET',
                contentType: 'application/json;charset=utf-8',
                 dataType: 'json',
                data:datatosend,
                success: function (data)
                {
                var ListOfColleges = JSON.parse(data);

                    $("#ddlCollege").empty();
                    $("#ddlCollege").append(`<option value=''>Please select college</option>`);

                    $.each(ListOfColleges, function (i) {
                        $("#ddlCollege").append(`<option value='` + ListOfColleges[i].collegeid + `'>` + ListOfColleges[i].collegename + `</option>`);
                    });
                      var test = '@Session["UserId"]';
                    if (test != 'dhepkl' && test!='')
                    {
                            $("#ddlCollege").val('@Session["collegeId"]');
                            $("#ddlCollege").change();
                    }
                $("#cover").fadeOut();
                },
                error: errorFn
             })
         }
    var url3 = '@Url.Action("GetCourseListUGPG", "Reports")';
        function getCourseListArPerCollege(collegeId)
        {
            $("#cover").fadeIn();
              var dataToSend = {};
                dataToSend.collegeId = $("#ddlCollege").val();
            if ($("ddlUGPG").val() != '')
                dataToSend.UGPG = $("#ddlUGPG").val();
            else {
                swal('error', 'select PG or UG Type')
            }
            $.ajax({
            //url: "/higher/Account/getdata",
            url: url3,
            type: 'get',
            //type: 'POST',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            data: dataToSend,
            success: function (data)
            {
                var ListOfCourses = JSON.parse(data);
                $("#ddlCourse").empty();
                $("#ddlCourse").append(`<option value='0'>Please select course</option>`);
                $.each(ListOfCourses, function (i) {
                    $("#ddlCourse").append(`<option value='` + ListOfCourses[i].courseid + `'>` + ListOfCourses[i].name+`</option>`);
                })
                $("#cover").fadeOut();
                },
            error:errorFn
            })
        }

        var MeritListSelected;
        var CollegeNameSelected;
        var SectionNameSelected;
        function getData() {

            if ($("#ddlCollege").val()=='' || $("#ddlCourse").val()==''  )
            {
                    swal('Error!', 'Please Select College /  Course ', 'error'); return;
            }
            $("#cover").fadeIn();
             var dataToSend = {};
            dataToSend.CollegeId = $("#ddlCollege").val();
            dataToSend.CourseId = $("#ddlCourse").val();
            if ($("ddlUGPG").val() != '')
                dataToSend.UGPG = $("#ddlUGPG").val();
            else {
                swal('error', 'select PG or UG Type');
                return false;
            }

            //Setting up for Header and Footer of All Exportable Files
            CollegeNameSelected = $("#ddlCollege :selected").text();
            SectionNameSelected = $("#ddlSection :selected").text();


            $.ajax({
                url: '@Url.Action("d_getStudentDetailRollNo", "Reports")',
                type: 'POST',
                contentType: 'application/json;charset=utf-8',
                dataType: 'json',
                data: JSON.stringify(dataToSend),
                success: function (data) {
                    if (data == "1" || data =="{}") {
                        window.location.replace('@Url.Action("Error", "Account")');
                        return false;
                    }
                    var CompleteDataSet = JSON.parse(data);

                    var d = new Date();
                    var dateStringHead = d.getDate() + '/' + (d.getMonth() + 1) + '/' + d.getFullYear();
                   var timeStringHead = d.getHours()+':'+d.getMinutes()+':'+d.getSeconds();
                    var TITLE = 'Course Wise List of Students With Roll No(' + dateStringHead + ' ' + timeStringHead + ')';


                    var exOptn = {
                        stripHtml: true,
                        columns: ':visible',
                        //format:
                        //    {
                        //        header: function (data, columnindex, trDOM, node) {
                        //            var valuetoReturn = '';
                        //            switch (columnindex) {

                        //                case 8: valuetoReturn = 'Gender'; break;
                        //                case 9: valuetoReturn = 'Reservation Category'; break;
                        //                case 10: valuetoReturn = 'Caste Category'; break;
                        //                case 11: valuetoReturn = 'Haryana Domicile'; break;
                        //                case 12: valuetoReturn = '12th / Diploma Haryana'; break;
                        //                case 19: valuetoReturn = 'Application Status'; break;

                        //                default:
                        //                    valuetoReturn = data;
                        //            }
                        //            return valuetoReturn;
                        //        },
                        //    }
                    };


                    var buttonsArray = [{
                        text: '<i class="fa fa-file-pdf" style="color:RED;"></i>', extend: 'pdfHtml5',
                        orientation: 'landscape',
                        pageSize: 'A1',
                        title:TITLE,
                        exportOptions: exOptn,
                        customize: function (doc) {
                           // doc.content[1].layout = 'Borders'
                        }
                    }, { text: '<i class="fa fa-file-excel" style="color:GREEN;"></i>', extend: 'excelHtml5', exportOptions: exOptn, title: TITLE }, { text: '<i class="fa fa-file-csv" style="color:BLUE;"></i>', extend: 'csvHtml5', exportOptions: exOptn, title: TITLE}, { text: '<i class="fa fa-print" style="color:Black;"></i>', extend: 'print', exportOptions: exOptn }];
                    var columnsArray =
                    [
                            { data: null, title: '#', render: function (data, type, row, meta) { return meta.row + meta.settings._iDisplayStart + 1; } }


                            , {data:"CollegeName"           ,title:"College Name"                       }
                            , {data:"CollegeRollNo"         ,title:"Roll No."                           }
                            , {data:"Reg_ID"                ,title:"Registration ID"                    }
                            , {data:"SrNo"                  ,title: "Sr No"                ,visible:false}
                            , {data:"Name"                  ,title:"Student Name"                       }
                            , {data:"MotherName"            ,title:"Mother's Name"                      }
                            , {data:"FatherName"            ,title:"Father's Name"                      }
                            , {data:"DOB"                   ,title:"Date of Birth"                      }
                            , {data:"Gender"                ,title:"Gender"                             }
                            , {data:"ResCategoryName"       ,title:"Reservation Category"   ,visible:true}
                            , {data:"CastCategoryName"      ,title:"Cast Category"          ,visible:true}
                            , {data:"CourseName"            ,title:"Course"                             }
                            , {data:"SectionName"           ,title:"Section"                            }
                            , {data:"CombinationName"       ,title:"Combination"                        }

                            , { data: "CasteID", title: "Caste ID", visible: false           }
                            , {data: "CasteName"            ,title: "Caste"                             }
                            , {data:"CasteCertificateNo"    ,title:"Caste Certificate No."              }
                            , {data:"MobileNo"              ,title:"Mobile No"                          }
                            , {data:"EmailId"               ,title:"Email Id"                           }
                            , {data:"Session"               ,title:"Session"                            }
                            , { data: "CollegeID", title: "College ID", visible: false     }
                            , { data: "CourseID", title: "Course ID", visible: false      }
                            , { data: "SectionID", title: "Section ID", visible: false       }
                            , { data: "CombinationID", title: "Subject Combination ID", visible: false      }
                            , {data:"CourseType"            ,title:"Course Type"                        }
                            , {data:"AdmissionDate"         ,title:"Admission Date"                     }
                            , {data:"FamilyIncome"          ,title:"Family Income"                      }
                            , {data:"BoardingType"          ,title:"Boarding Type"                      }
                            , {data:"Domicile"              ,title:"Domicile"                           }
                            , {data:"Address"               ,title:"Address"                            }
                            , { data: "Student_District_Id", title: "Student District Id", visible: false            }
                            , {data:"Student_District_Name" ,title:"Student District Name"              }
                            , {data:"AadharNo"              ,title:"Aadhar No."                         }
                            , {data:"FamilyID"              ,title:"Family ID."                         }
                            , {data:"AppliedforPMS"         ,title:"Applied for PMS"                    }
                            , {data:"PMSUpdatedByCollege"   ,title:"PMS Updated By College"             }
                            , {data:"ActualCourseFee"       ,title:"Actual Course Fee"                  }
                            , {data:"FeeAmountPaidbyStudent",title:"Fee Amount Paid by Student"         }

                            , {data:"CastCategoryCode"      ,title:"Caste category code"        ,visible:false }
                            , {data:"ResCategoryCode"       ,title:"Res Category Code"          ,visible:false }
                            //, {data:"SeatAllocationCategory",title:"Seat Allocation Category"   ,visible:false }//still available
                            , {data:"AdmissionStatus"       ,title:"Admission Status"           ,visible:false }

                    ];
                    $("#tblMeritList1").DataTable({
                        data: CompleteDataSet.Table,
                        dom: 'Bfrti',
                        buttons: buttonsArray,
                        paging: false,
                        destroy: true,
                        //"order": [[16, "desc"]],
                        columns: columnsArray,
                        initComplete: function () {
                            this.api().columns([-1]).every(function () { //choose column Names to apply dropdownFilters
                                var column = this;

                                var select = $('<select class="tableddr" id="ddr' + column[0] + '" style="color:black;"><option value="">ALL</option></select>')
                                    .appendTo($(column.header()).append('<br>'))
                                    //.appendTo($('table > thead > tr > th.filterbox')).append('<br>')
                                    .on('change click', function (e) {
                                        var val = $.fn.dataTable.util.escapeRegex(
                                            $(this).val()
                                        );
                                        e.stopPropagation(); // OMFG it took my whole day to figure out!!!!
                                        column
                                            .search(val ? '^' + val + '$' : '', true, false)
                                            .draw();
                                    });

                                column.data().unique().sort().each(function (d, j) {
                                    select.append('<option value="' + d + '">' + d + '</option>')
                                }
                                );
                            });
                        },
                        "footerCallback": function (row, data, start, end, display) {
                            this.api().columns('.sum').every(function () {
                                var column = this;

                                var sum = column
                                    .data()
                                    .reduce(function (a, b) {
                                        a = parseInt(a, 10);
                                        if (isNaN(a)) { a = 0; }

                                        b = parseInt(b, 10);
                                        if (isNaN(b)) { b = 0; }

                                        return a + b;
                                    });

                                $(column.footer()).html(sum);
                            })
                        }

                    });

                $("#cover").fadeOut("slow");
                },
                error: errorFn
        })
        }

          function getData1() {

            if ($("#ddlCollege").val()=='' || $("#ddlCourse").val()==''  )
            {
                    swal('Error!', 'Please Select College /  Course ', 'error'); return;
            }
            $("#cover").fadeIn();
             var dataToSend = {};
            dataToSend.CollegeId = $("#ddlCollege").val();
            dataToSend.CourseId = 0;
              if ($("ddlUGPG").val() != '')
                  dataToSend.UGPG = $("#ddlUGPG").val();
              else {
                  swal('error', 'select PG or UG Type');
                  return false;
              }

            //Setting up for Header and Footer of All Exportable Files
            CollegeNameSelected = $("#ddlCollege :selected").text();
            SectionNameSelected = $("#ddlSection :selected").text();

              var URLXX = '@Url.Action("d_getStudentDetailRollNo_Download","Reports")';
              URLYY = URLXX + '?CollegeId=' + dataToSend.CollegeId + '&CourseId=' + dataToSend.CourseId + '&UGPG=' + dataToSend.UGPG;
              window.open( URLYY);
                    $("#cover").fadeOut("slow");


        }
    </script>

</head>
<body>

    <div id="cover">
        <i class="fa fa-spinner fa-spin" style="font-size:xx-large"></i>
    </div>
    <div class="container-fluid">
        <div class="row main-banner">
            <img src="../assets/images/banner.jpg" style="width: 100%" alt="online admission portal" />
        </div>
        <div class="row header">
            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12">
                <nav class="nav-menu d-none d-lg-block">
                    <ul>
                        @*<li><a href="../index.html">Home</a></li>
                            <li class="active"><a href='@Url.Action("CollegeCourseWiseAppRec","Reports")'>College Course Wise Application Received</a></li>

                            <li><a href="#">Search College</a></li>*@
                    </ul>
                </nav>
                <!-- .nav-menu -->
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-1 col-2"></div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-8 text-center top-heading" style="margin-top: 5px;"><h4 class="heading">Course Wise Student List</h4></div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-2 text-right back-btn" style="margin-top: 5px;">
                <a href="#" id="btnBack" class="btn btn-icon icon-left btn-primary" onclick="javascript: window.history.back();"><i class="fas fa-arrow-alt-circle-left"></i></a>
            </div>
        </div>

    </div>
    <div class="container-fluid">


        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12" style="margin-top: 20px;margin-bottom: 20px;">
                <div class="cus-top-section">
                                     
                        <div class="col-lg-3 col-md-3 col-sm-4 col-12">
                            <label for="ddlUGPG">Select Admission Type<span class="" style="color:red;">*</span></label>
                            <select id="ddlUGPG" class="form-control custom-select">
                                <option value="0">Please select Admission Type</option>
                                <option value="UG">UG</option>
                                <option value="PG">PG</option>
                            </select>
                        </div>

                   
                    <div class="col-lg-3 col-md-3 col-sm-4 col-12">
                        <label for="ddlCollege">Select College <span class="" style="color:red;">*</span></label>
                        <select id="ddlCollege" class="form-control custom-select">
                            @if (Session["UserType"].ToString() == "1")
                            {
                                <option value="0">Please select college</option>
                            }
                            else
                            {
                                <option value="">Please select college</option>
                            }

                        </select>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-4 col-12">
                        <label for="ddlCourse">Select Course <span class="" style="color:red;">*</span></label>
                        <select id="ddlCourse" class="form-control custom-select">
                            @if (Session["UserType"].ToString() == "1")
                            {
                                <option value="0">Please select course</option>
                            }
                            else
                            {
                                <option value="">Please select course</option>
                            }

                        </select>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-4 col-12 cus-getbtn">
                        <label style="margin-top:17px;"></label><br />
                        <button class="btn btn-primary" onclick="getData(); return false;">Search</button>
                        @if (Session["UserType"].ToString() == "1")
                        {
                            <button class="btn btn-primary" onclick="getData1(); return false;">Download All Data</button>
                        }

                    </div>
                </div>
            </div>
        </div>

        @*OMGOMG*@
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 cus-merit-table" style="padding: 0;">
            <h5 style="display:none;" id="meritHead8">First Round Merit List (Valid upto 8<sup>th</sup> October, 2020)</h5>
            <h5 style="display:none;" id="meritHead14">Second Round Merit List (Valid upto 14<sup>th</sup> October, 2020)</h5>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-12 cus-grid-table-down">

            <div class="bg-white rounded shadow mb-5">

                <div class="table-responsive">

                    <table class="table table-striped table-bordered table-hover" id="tblMeritList1">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>

                        </tfoot>
                    </table>
                </div>
            </div>



        </div>
    </div>
    @*OMGOMG*@


    <div class="modal cus-modal cus-inner-modal" id="myModal2" role="dialog">
        <div class="modal-dialog  modal-lg" style="margin-top: 1%;">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body" id="mydatamodel2" style="display: block;">
                    <div class="table-responsive cus-grid-table-three">

                    </div>
                </div>
            </div>
            <div class="input-group input-group-sm mb-3">
            </div>
        </div>
    </div>
    </div>

    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12 text-center">
                    <div class="row">
                        <div class="col-lg-10 col-md-10 text-left" style="margin-top:10px;">
                            <div class="credits">
                                <a>Site is technically designed, hosted and maintained by National Informatics Centre, Haryana</a>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2">
                            <img src="../assets/images/nic-logo.png" style="width:100px;">
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </footer>
    <!-- End Footer -->
</body>
</html>


