@{

    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Fee Receipt</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="../assets/css/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../assets/css/sweetalert.css" rel="stylesheet" />
    <link href="../assets/css/stylesearch.css" rel="stylesheet" />
    <link href="../assets/css/stylehome.css" rel="stylesheet" />
    <script src="../assets/dataTable/dataTables/jquery-3.5.1.js"></script>
    <script src="../assets/js/jquery-ui/jquery-ui.min.js"></script>
    <script src="../assets/dataTable/dataTables/jquery.dataTables.min.js"></script>
    <script src="../assets/js/popperjs/popper.min.js"></script>
    @*<script src="../assets/js/moment-with-locales.min.js"></script>*@
    <script src="../assets/js/bootstrap/js/bootstrap.min.js"></script>
    <script src="../scripts/sweetalert.min.js"></script>
    <link href="../assets/css/all.css" rel="stylesheet" />
    <link href="../assets/css/stylereport.css" rel="stylesheet" />
    <link href="../assets/dataTable/dataTables/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="../assets/dataTable/dataTables/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="../assets/dataTable/dataTables/buttons.dataTables.min.css" rel="stylesheet" />
    <script src="../assets/dataTable/dataTables/dataTables.buttons.min.js"></script>
    <script src="../assets/dataTable/dataTables/buttons.html5.min.js"></script>
    <script src="../assets/dataTable/dataTables/jszip.min.js"></script>
    <script src="../assets/dataTable/dataTables/pdfmake.min.js"></script>
    <script src="../assets/dataTable/dataTables/vfs_fonts.js"></script>
    <script src="../assets/dataTable/dataTables/buttons.print.min.js"></script>
    <link rel="stylesheet" href="~/assets/css/stylepayment.css">
    <style>
        #dvPrint > div > label {
            font-weight: 900;
        }



        @@media print {
            body > div {
                display: none;
            }

            body > footer {
                display: none;
            }

            #PrintReceiptDiv {
                display: block;
                font-size:smaller;
                
            }
            #cmd1 {
            display:none;
            }
        }




        body:not(.menu-on-top).desktop-detected {
            min-height: 907px !important
        }


        .top-heading h4::after {
            top: 40px !important;
        }
    </style>
    <style type="text/css">
        .cus-grid-table {
            height: 100%;
            overflow: auto;
            box-shadow: 0px 0px 5px 0px #ccc;
            padding: 1rem;
            margin-bottom: 5%;
        }

        #cover {
            /*background: url("to/your/ajaxloader.gif") no-repeat scroll center center #FFF;*/
            background-color: rgba(178, 0, 255, 0.81);
            position: fixed;
            top: 0px;
            bottom: 0px;
            height: 100%;
            width: 100%;
            z-index: 100000;
        }

            #cover i {
                /*background: url("to/your/ajaxloader.gif") no-repeat scroll center center #FFF;*/
                margin-left: 50%;
                margin-top: 50vh;
            }

        .btn:disabled {
            opacity: 0.2 !important;
        }

        .card-counter {
            box-shadow: 4px 4px 2px -1px rgba(0,0,0,0.4);
            margin: 5px;
            padding: 10px 10px;
            background-color: #fff;
            height: 75px;
            border-radius: 5px;
            transition: .3s linear all;
            border: 1px solid rgba(0, 0, 0, 0.125);
        }

            .card-counter:hover {
                box-shadow: 4px 4px 20px #DADADA;
                transition: .3s linear all;
            }

            .card-counter.primary {
                /*background-color: #007bff;*/
                background: linear-gradient(to right, #0d47a1, #1976d2 99%) !important;
                background: -webkit-gradient(linear, left top, right top, from(#0d47a1), color-stop(99%, #1976d2)) !important;
                color: #FFF;
            }

            .card-counter.danger {
                background-color: #ef5350;
                color: #FFF;
            }

            .card-counter.success {
                background-color: #66bb6a;
                color: #FFF;
            }

            .card-counter.info {
                background: linear-gradient(to right, #4527a0, #5e35b1) !important;
                background: -webkit-gradient(linear, left top, right top, from(#4527a0), to(#5e35b1)) !important;
                color: #FFF;
            }

            .card-counter i {
                font-size: 4em;
                opacity: 0.5;
                margin-top: -1px;
            }

            .card-counter .fa.fa-spinner {
                font-size: 1.5em !important;
                opacity: 0.5;
            }

            .card-counter .count-numbers {
                position: absolute;
                right: 30px;
                top: 10px;
                font-size: 28px;
                display: block;
                /*font-weight:800;*/
                text-shadow: 10px 10px 0px 0px #333;
            }

            .card-counter .count-name {
                position: absolute;
                right: 30px;
                top: 55px;
                font-style: italic;
                text-transform: capitalize;
                opacity: 0.8;
                display: block;
                font-size: 12px;
                /*font-weight: 700;*/
            }

        .cus-top-cards {
            border: 1px solid #ccc;
            padding: 0.8rem;
            box-shadow: inset 0px 1px 8px 2px #a9a9a9;
        }

        button.dt-button, div.dt-button, a.dt-button {
            padding: 0.01em 0.5em !important;
            font-size: x-large;
        }

        .modalBackground {
            background-color: rgb(192,234,255);
            filter: alpha(opacity=70);
            opacity: 0.7;
            z-index: 100 !important;
        }

        .modalPopup {
            background-color: #ffffff;
            border-width: 3px;
            border-style: solid;
            border-color: Gray;
            padding: 3px;
            /*width: 250px;*/
            z-index: 100;
        }

        .btnPop {
            background-color: #033280;
            color: White;
            font-size: 12px;
            font-weight: bold;
            padding-left: 5px;
        }

        table {
            width: 100% !important;
            font-size: small;
        }
    </style>
    <script>


       var errorFn = function (jqXHR, exception) {

            var msg = '';
            if (jqXHR.status === 0) {
                msg = 'Not connect.\n Verify Network.';
            } else if (jqXHR.status == 404) {
                msg = 'Requested page not found. [404]';
            } else if (jqXHR.status == 500) {
                msg = 'Internal Server Error [500].';
            } else if (exception === 'parsererror') {
                msg = 'Requested JSON parse failed.';
            } else if (exception === 'timeout') {
                msg = 'Time out error.';
            } else if (exception === 'abort') {
                msg = 'Ajax request aborted.';
            } else {
                msg = 'Uncaught Error.\n' + jqXHR.responseText;
            }
            alert("Error: " + msg);
            $("#cover").fadeOut("slow");
        }


        $(document).ready(function () {
            $("#cover").hide();
            $(document).on('hide.bs.modal', '#myModal2', function () {
                $("#PrintReceiptDiv").hide();

            });
            $(document).on('show.bs.modal', '#myModal2', function () {
                $("#PrintReceiptDiv").show();

            });


      




        });

     


    
     
        var test = '@Session["UserId"]';
        var C_ID = '@Session["collegeId"]';

    

       

         var url4 = '@Url.Action("FeeReceiptPartial2", "Reports")';
        function fetchReceipt() {
            var txnID = $("#tbTrackID").val();
            //alert(regid);
            $("#cover").fadeIn();
            var dataToSend = {};
            //dataToSend.regId = regid;
            dataToSend.TxnId = txnID;

            $.ajax({
                //url: "/higher/Account/getdata",
                url:url4 ,
                type: 'get',
                //type: 'POST',
                contentType: 'application/json;charset=utf-8',
                dataType: 'html',
                data: dataToSend,
                success: function (data) {
                    $("#cover").fadeOut();
                    $("#mydatamodel2").html(data);
                    $("#PrintReceiptDiv").html(data);
                    $("#myModal2").modal('show');
                },
                error: errorFn
            })
        }

        var CollegeNameSelected;
        var SectionNameSelected;
        var url5 = '@Url.Action("d_getFeeReceiptList", "Reports")';
        var urlError = '@Url.Action("Error", "Account")';
        function getData() {

            if ($("#ddlCollegeType").val() == "0" || $("#ddlCollege").val()=="" || $("#ddlCourse").val()=="" || $("#ddlSection").val()=="" )
            {
                    swal('Error!', 'Please Select College /  Course / Section', 'error'); return;
            }
            $("#cover").fadeIn();
             var dataToSend = {};
            dataToSend.CollegeId = $("#ddlCollege").val();
            dataToSend.CourseId = $("#ddlCourse").val();
            dataToSend.SectionId = $("#ddlSection").val();
            //Setting up for Header and Footer of All Exportable Files
            CollegeNameSelected = $("#ddlCollege :selected").text();
            SectionNameSelected = $("#ddlSection :selected").text();

            $.ajax({
                url: url5,
                type: 'POST',
                contentType: 'application/json;charset=utf-8',
                dataType: 'json',
                data: JSON.stringify(dataToSend),
                success: function (data) {
                    if (data == "1") {
                        window.location.replace(urlError);
                        return false;
                    }
                    var CompleteDataSet = JSON.parse(data);

                    var buttonsArray = [{ text: '<i class="fa fa-file-pdf" style="color:RED;"></i>', extend: 'pdfHtml5',footer:true, title: 'Fee Receipt List', messageTop: 'College: ' + CollegeNameSelected + ',\nCourse: ' + SectionNameSelected, messageBottom: '', pageSize: 'A2', orientation: 'landscape', exportOptions: { columns: ':visible' } }, { text: '<i class="fa fa-file-excel" style="color:GREEN;"></i>', extend: 'excelHtml5', exportOptions: { columns: ':visible' } }, { text: '<i class="fa fa-file-csv" style="color:BLUE;"></i>', extend: 'csvHtml5', exportOptions: { columns: ':visible' } }, { text: '<i class="fa fa-print" style="color:Black;"></i>', extend: 'print', exportOptions: { columns: ':visible' } }];
                    var columnsArray = [
                        { data: null, title: '#', render: function (data, type, row, meta) { return meta.row + meta.settings._iDisplayStart + 1; } }
                        , { data: "collegename", title: "College Name", }
                        , { data: "registrationID", title: "Registration ID", }
                        , { data: "CandidateName", title: "Candidate Name", }
                        , { data: "categoryname", title: "Category Name", }
                        , { data: "Gender", title: "Gender", }
                        , { data: "MobileNo", title: "Mobile No", }

                        , { data: "Payment_Date", title: "Payment Date", }
                        , { data: "Part_Full", title: "Annual / Installment", }
                        , { data: "Payment_gateway", title: "Payment Gateway", }
                        , { data: "payment_mode", title: "Payment Mode", }
                        , { data: "TotalFee", title: "Total Fee", className:"sum" }
                        , { data: "Fee_paid", title: "Fee Paid", className: "sum"}
                        , { data: "order_status", title: "Admission Status", }
                        , { data: "BankTxnID", title: "Bank Txn ID", }
                        , { data: "ClientToken", title: "Client Token", }
                        , { data: "courseName", title: "Course Name", }

                        , { data: "Refund", title: "Refund", }
                        , { data: "AdditionalFee", title: "Additional Fee", }
                        , {
                            data: "Fee_paid", title: "Net Amount Paid", render: function (d, t, r) {

                                var refund = r["Refund"] != null ? r["Refund"] : 0;
                                var AdditionalFee = r["AdditionalFee"] != null ? r["AdditionalFee"] : 0;
                                var feepaid = d != null ? d : 0;

                                if(feepaid != null && refund !=  null && AdditionalFee != null   )
                                    return feepaid - refund + AdditionalFee;
                                else
                                    return '---'
                            } }

                        , { data: "Remarks", title: "Remarks", }
                        , {
                            data: null, title: 'Action', render: function (d, t, r) {
                                return '<button class="btn btn-warning" title="Click to view Fee Receipt" onclick="fetchReceipt(\'' + r["registrationID"] + '\',\'' + r['ClientToken'] + '\')"><i class="fa fa-receipt"></i></button>'

                            },visible:true
                        }]



                        ;

                    $("#tblMeritList1").DataTable({
                        data: CompleteDataSet.Table,
                        dom: 'Bfrti', buttons: buttonsArray,
                        paging: false,
                        destroy: true,
                        //"order": [[1, "asc"]],
                        columns:columnsArray,
                        "footerCallback": function (row, data, start, end, display) {
                            this.api().columns('.sum').every(function () {
                                var column = this;

                                var sum = column
                                    .data()
                                    .reduce(function (a, b) {
                                        a = parseInt(a, 10);
                                        if (isNaN(a) ) { a = 0; }

                                        b = parseInt(b, 10);
                                        if (isNaN(b)) { b = 0; }

                                        return a + b;
                                    },0);

                                $(column.footer()).html(sum);
                            })
                        }

                    });


                $("#cover").fadeOut("slow");
                },
                error: errorFn
        })
        }
    </script>

</head>
<body>

    <div id="cover">
        <i class="fa fa-spinner fa-spin" style="font-size:xx-large"></i>
    </div>
    <div class="container-fluid">
        <div class="row main-banner">
            <img src="../assets/images/banner.jpg" style="width: 100%" alt="online admission portal" />
        </div>
        <div class="row header">
            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12">
                <nav class="nav-menu d-none d-lg-block">
                    <ul>
                        @*<li><a href="../index.html">Home</a></li>
                            <li class="active"><a href='@Url.Action("CollegeCourseWiseAppRec","Reports")'>College Course Wise Application Received</a></li>

                            <li><a href="#">Search College</a></li>*@
                    </ul>
                </nav>
                <!-- .nav-menu -->
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-1 col-2"></div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-8 text-center top-heading" style="margin-top: 5px;"><h4 class="heading">Track Fee Receipt</h4></div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-2 text-right back-btn" style="margin-top: 5px;">
                <a href="#" id="btnBack" class="btn btn-icon icon-left btn-primary" onclick="javascript: window.history.back();"><i class="fas fa-arrow-alt-circle-left"></i></a>
            </div>
        </div>

    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12" style="margin-top: 20px;margin-bottom: 20px;">
                <div class="cus-top-section">

                            <div class="col-lg-2 col-md-2 col-sm-4 col-12">
                                <label for="tbTrackID">Enter Tracking ID<span class="" style="color:red;">*</span></label>

                                <input id="tbTrackID" class="form-control"/>
                            </div>
                    

                    
                   
                    <div class="col-lg-2 col-md-2 col-sm-4 col-12 cus-getbtn">
                        <label style="margin-top:17px;"></label><br />
                        <button class="btn btn-primary" onclick="fetchReceipt(); return false;">Search</button>
                        @*@if (Session["collegeId"] != null && Session["collegeId"].ToString() == "0")
                            {
                                <button class="btn btn-primary" onclick="getData(1); return false;">Search Duplicates</button>
                            }*@

                    </div>
                </div>
            </div>
        </div>
        @*OMGOMG*@

    

        <!-- Modal -->
        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title cus-heading" id="exampleModalLabel">Student Fee Receipt</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="mydatamodel2">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="PrintReceiptDiv">

    </div>
    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12 text-center">
                    <div class="row">
                        <div class="col-lg-10 col-md-10 text-left" style="margin-top:10px;">
                            <div class="credits">
                                <a>Site is technically designed, hosted and maintained by National Informatics Centre, Haryana</a>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2">
                            <img src="../assets/images/nic-logo.png" style="width:100px;">
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </footer>
    <!-- End Footer -->
</body>
</html>


















