@{
    Layout = null;
}







<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Verification</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="../assets/css/all.css" rel="stylesheet" />
    <link href="../assets/css/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../assets/css/sweetalert.css" rel="stylesheet" />
    <link href="../assets/css/stylecancel.css" rel="stylesheet" />

    <script src="../assets/js/jquery-3.4.1.js"></script>
    @*<script src="../assets/js/jquery/jquery.min.js"></script>*@
    <script src="../assets/js/jquery-ui/jquery-ui.min.js"></script>
    <script src="../assets/js/popperjs/popper.min.js"></script>
    @*<script src="../assets/js/moment-with-locales.min.js"></script>*@
    <script src="../assets/js/bootstrap/js/bootstrap.min.js"></script>
    <script src="../scripts/sweetalert.min.js"></script>
    @*@if (ViewBag.IsVerifyStatus == "v" || ViewBag.IsVerifyStatus == "V")
        {
            <script>
                alert("Candidate already verified..!!");
            </script>
        }
        @if (ViewBag.IsVerifyStatus == "S" || ViewBag.IsVerifyStatus == "s")
        {
            <script>
                alert("Candidate has Already Taken Seat!!");
            </script>
        }*@
    <script>


        function sweetAlertConfirm(btnDelete)
        {
            debugger;
            if (btnDelete.dataset.confirmed)
            {
                // The action was already confirmed by the user, proceed with server event
                btnDelete.dataset.confirmed = false;
                return true;
            } else
            {
                // Ask the user to confirm/cancel the action
                event.preventDefault();
                swal({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                })
                    .then(function ()
                    {
                        // Set data-confirmed attribute to indicate that the action was confirmed
                        btnDelete.dataset.confirmed = true;
                        // Trigger button click programmatically
                        btnDelete.click();
                    }).catch(function (reason)
                    {
                        // The action was canceled by the user
                    });
            }
        }
        function ConfirmOnDelete()
        {
            var validated = Page_ClientValidate('A');
            if (validated)
            {

                if (confirm("Do you really want to cancel student registration?") == true)
                    return true;
                else
                    return false;
            }

        }
    </script>


    <style type="text/css">
        .modalBackground {
            background-color: rgb(192,234,255);
            filter: alpha(opacity=70);
            opacity: 0.7;
            z-index: 100 !important;
        }

        .modalPopup {
            background-color: #ffffff;
            border-width: 3px;
            border-style: solid;
            border-color: Gray;
            padding: 3px;
            /*width: 250px;*/
            z-index: 100;
        }

        .btnPop {
            background-color: #033280;
            color: White;
            font-size: 12px;
            font-weight: bold;
            padding-left: 5px;
        }

        .cus-middle-section {
            margin-bottom: 5rem;
        }
    </style>
    <script>
        $(document).ready(function ()
        {
             if ('@ViewBag.IsVerifyStatus' == 'v' || '@ViewBag.IsVerifyStatus' == 'V')
            {

            swal('Alert!',"Candidate already verified..!!",'info');

            }
            let params = new URLSearchParams(document.location.search.substring(1));
            let Touched= params.get("txtRollNo"); // is the string "Jonathan"
            
            if ('@ViewBag.IsVerifyStatus' == 'S' || '@ViewBag.IsVerifyStatus' == 's')
            {

                swal("Alert","Candidate has Already Taken Seat!!","info");

            }
            if ('@ViewBag.IsVerifyStatus' == '-1' && Touched != null)
            {

                swal("Alert","Candidate's Details Not Found!!","info");

            }
             if ('@ViewBag.IsVerifyStatus' == '-2')
            {

                swal("Alert","Please Enter Candidate's Registration ID!","info");

            }
        });
        function showCollegeInfo()
        {
            $("#myModal").modal('show');

        }
        function showSubjectComb()
        {
            $("#myModal2").modal('show');

        }
        //function btnGo_Click()
        //{
        //    swal("error","Please Enter Candidate's Registration ID","error");
        //    if ( $('#txtRollNo').val() == "")
        //    return false;
        //}

    </script>
    
</head>
<body>
    <form id="form1" runat="server">

        <div class="container-fluid">
            <div class="row main-banner">
                <img src="../assets/images/banner.jpg" style="width: 100%" alt="online admission portal" />
            </div>
        </div>
        <div class="container-fluid">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 top-heading text-center">
                <div class="row">
                    <div class="col-lg-1 col-md-1 col-sm-1 col-12">
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-10">
                        <h4 class="heading">Student Verification</h4>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-1 text-right back-btn" style="margin-top: 5px;">
                        <a href="../DHE/HEMenu.aspx" id="btnBack" class="btn btn-icon icon-left btn-primary"><i class="fas fa-arrow-alt-circle-left"></i></a>
                    </div>
                </div>
            </div>
            <div class="Container" style="margin-top: 20px;">
                <div id="login">
                    <h3 class="text-center text-white pt-5">Login form</h3>
                    <div class="container">
                        <div id="login-row" class="row justify-content-center align-items-center">
                            <div id="login-column" class="col-md-6">
                                <div id="login-box" class="col-md-12">
                                   
                                        @*<h3 class="text-center text-info">Login</h3>*@
                                    <div class="form-group">
                                        @*<label for="username" class="text-info">Username:</label><br>*@
                                        <label for="txtRollNo" class="cus-select-label" style="color: #223f73; font-weight: 800">Registration Id<span style="color: red">*</span></label>

                                        @*<input type="text" name="username" id="username" class="form-control">*@
                                    <div class="row">
                                        <div class="col-10"><input type="text" ID="txtRollNo" name="txtRollNo" Class="form-control form-inline" autocompleteoff="off" /></div>
                                        <div class="col-2"><Button ID="btnGo" Class="btn btn-primary float-right cus-getbtn" Text="Go" OnClick="">GO</Button></div>
                                    </div>
                                        
                                        
                                    </div>
                                      
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="row">

                    <div class="col-lg-2 col-md-2">
                        <label class="cus-select-label" style="color: #223f73; font-weight: 800">Registration Id<span style="color: red">*</span></label>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                        <input type="text" ID="txtRollNo" name="txtRollNo" Class="form-control" autocompleteoff="off" />

                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-2 col-12 cus-getbtn">
                        <Button ID="btnGo" Class="btn btn-primary" Text="Go" OnClick="">GO</Button>
                    </div>
                </div>*@
            </div>

        </div>




    </form>
    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12 text-center">
                    <div class="row">
                        <div class="col-lg-10 col-md-10 text-left" style="margin-top:10px;">
                            <div class="credits">
                                <a>Site is technically designed, hosted and maintained by National Informatics Centre, Haryana</a>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2">
                            <img src="/assets/images/nic-logo.png" style="width:100px;" />
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </footer>
</body>
</html>
