
@{
    Session["currentPage"] = 6;
}
@{
    if (Session["MaxPage"] == null)
    {
        Session["currentPage"] = 1;
        Session["MaxPage"] = 1;
    }
    else if (Convert.ToInt32(Session["currentPage"]) > Convert.ToInt32(Session["MaxPage"]))
    {
        Session["MaxPage"] = 6;
    }

}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .left-head {
        font-weight: 700;
        color: #223f73;
    }

    .center-head {
        font-weight: 700 !important;
        color: #223f73;
    }

    .right-head {
        font-weight: 700;
        color: #223f73;
    }

    .ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
        color: black;
        font-size: 12px;
        font-weight: bold;
    }

    .col-md-6 {
        font-weight: normal;
    }

    .hide {
        visibility: hidden
    }

    #sortable, #sorthead {
        list-style-type: none;
        margin: 0;
        width: 100%;
        position: relative;
    }

        #sortable li, #sorthead li {
            margin: 0 5px 5px 5px;
            padding: 5px;
            font-size: 1.2em;
            cursor: grab;
            cursor: -webkit-grab;
            cursor: -webkit-grab;
        }

            #sorthead li:active {
                cursor: grabbing;
                cursor: -webkit-grabbing;
                cursor: -webkit-grabbing;
            }

        html > body #sortable li, html > body #sorthead li {
            height: 3.5em;
            line-height: 1.3em;
        }


    .ui-state-highlight {
        height: 3.5em;
        line-height: 1.3em;
    }

    .tab-pane .tools .btn.btn-flat {
        /* padding: 4.5px 7px; */
        margin-bottom: 5px;
        margin-top: -30px;
        margin-right: 10px;
    }

    .completedCourse {
        background-color: green;
        color: white;
    }

    .redBorder {
        border: 1px solid red !important;
    }

    .greenBorder {
        border: 1px solid green !important;
    }

    .txtSize {
        font-size: 16px;
    }

    .ctrlPosition {
        text-align: center;
        margin-top: 40px;
        color: #34495E;
        font-weight: bold;
    }

        .ctrlPosition:hover {
            color: blue;
        }

    .pdfFile {
        margin-left: 50px;
        color: #007bff;
        font-weight: bold;
    }

        .pdfFile:hover {
            text-decoration: underline;
        }

    .btnAdd {
        color: white;
        outline: 0;
        padding: 10px 16px;
        font-size: 16px;
        line-height: 1.33;
        border-radius: 6px;
    }

    .my-input {
        width: 100%;
    }

    .my-icon {
        position: absolute;
        right: 20px;
        color: red;
        top: 7px;
        font-size: 20px;
        font-weight: bold;
    }

    .redBorder {
        border: 1px solid red !important;
    }

    .greenBorder {
        border: 1px solid green !important;
    }

    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        background: linear-gradient(to right, #004ef9, #79a3ff) !important;
        color: #fff;
        border-color: #79a3ff !important;
    }
    /*.ui-state-default span.left {
            display:flex;
        }
        .ui-state-default span.centre {
            display: flex;
        }
        .ui-state-default span.right {
            display: flex;
        }*/
    .ui-state-default {
        font-size: small !important;
    }

    .cus-lockbtn .btn.btn-primary {
        background: #223f73;
        cursor: pointer;
        border: 1px solid #223f73;
        margin-top: 0.2rem;
    }

        .cus-lockbtn .btn.btn-primary:hover {
            background: #F6822F;
            transition: all 0.5s;
            border-radius: 10px;
            box-shadow: 0px 6px 10px #F6822F;
            color: #fff;
            border: 1px solid #F6822F;
        }

    #p_msg {
        font-size: 16px !important;
    }

    .disabledbutton {
        pointer-events: none;
        /*opacity: 0.4;*/
    }
</style>
<head>


    <link href="~/assets/css/jquery-ui.css" rel="stylesheet" />
    <script src="~/assets/js/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery/jquery.min.js"></script>
    <link href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <link href="~/swalJs/sweetalert.css" rel="stylesheet" />
    <link href="~/swalJs/swal-forms.css" rel="stylesheet" />
    <script src="~/swalJs/sweetalert.min.js"></script>
    <script src="~/swalJs/swal-forms.js"></script>
    <link href="~/assets/css/all.css" rel="stylesheet" />

    <script>
        function toNext() {
            window.location.href = '@Url.Action("RegistrationFee", "RegistrationPayment")';
        }
            $(document).ready(function ()
            {

        var MaxPages = '@Session["MaxPage"]';
        var currentPage = '@Session["currentPage"]';
        for (var i = 0; i < parseInt(MaxPages) ; i++) {
            if ((i+1) != currentPage) $("#tablist > li:eq(" + i + ")").addClass('done');
            else $("#tablist > li:eq(" + i + ")").addClass('current');
        }

                for (i = 8; i > MaxPages; i--) {
                    $("#tablist > li:eq(" + (i - 1) + ")>a").attr("href", "#");
                }

                //abhishek begin
                $("#sortable").sortable({
                    items: "li:not(.unsortable)",
                    update: function (event, ui)
                    {
                        $('#sortable span.left').each(function (i)
                        {
                            var numbering = i + 1;
                            $(this).text(numbering + ' ');
                        });
                    },
                    placeholder: "ui-state-highlight",
                });
                $.ajax({
                    //url: "/higher/Account/getdata",
                    url: "@Url.Action("getdata", "Account")",
                    type: 'POST',
                    contentType: 'application/json;charset=utf-8',
                    dataType: 'json',
                    data: {},
                    success: function (data)
                    {
                        //console.log(data);
                        //alert(data);
                        //abhishek
                        $("#sortable").empty();
                        var i = 1;
                        var flagLock = 0;
                        var a = [];
                        $("#sortable").append(`
                                                <li class="ui-state-default unsortable list-header col-md-12 ">
                                                    <span class="row">
                                                        <span class="left-head col-md-1">
                                                            Preference Choice
                                                        </span>
                                                        <span class="center-head col-md-4">
                                                            ITI
                                                        </span>
                                                        <span class="center-head col-md-3">
                                                           Trade
                                                        </span>
                                                        <span class="right-head col-md-3">
                                                            Trade Section
                                                        </span>
                                                        <span class="right-head col-md-1">
                                                            Reorder
                                                        </span>
                                                    </span>
                                                </li>`);
                        JSON.parse(data).forEach(function (X)
                        {
                            console.log(a.push(X.SubjectCombination));
                            flagLock = 0;// X.pref_no !== null?1:0;
                            $("#sortable").append(`
                                                    <li class="ui-state-default col-md-12 liItem" value="`+X.id+`">
                                                        <span class="row">
                                                            <span class="left col-md-1"> `+ i++ + `</span>
                                                            <span class="centre col-md-4"> `+ X.collegename + `, ` + X.districtname + `</span>
                                                            <span span class="col-md-3">` + X.name + `</span>
                                                            <span class="right col-md-3">`+ X.sectionname + ` <i class="fa fa-hand-grab-o"></i></span>
                                                            <span class="right-head col-md-1">
                                                                <button class="upbutton" ><i class="fa fa-arrow-up"></i></button>
                                                                <button class="downbutton"><i class="fa fa-arrow-down"></i></button>
                                                            </span>
                                                        </span>
                                                    </li>`);
                        });
                        //$('.upbutton').click(function ()
                        //{
                        //    var current = $(this).closest('li');
                        //    current.prev().before(current);
                        //});
                        //$('.downbutton').click(function ()
                        //{
                        //    var current = $(this).closest('li');
                        //    current.next().after(current);
                        //});
                        $('.upbutton').click(function ()
                        {
                            item = $(this).parent().parent().parent();
                            var prev = item.prev();


                            if (prev.length == 1 && !prev.hasClass('liItem'))
                                return;
                            prev.css('z-index', 999).css('position', 'relative').animate({ top: item.height() }, 250);
                            item.css('z-index', 1000).css('position', 'relative').animate({ top: '-' + prev.height() }, 300, function ()
                            {
                                prev.css('z-index', '').css('top', '').css('position', '');
                                item.css('z-index', '').css('top', '').css('position', '');
                                item.insertBefore(prev);
                            });
                            setTimeout(function () { $('#sortable span.left').each(function (i) { var numbering = i + 1; $(this).text(numbering + ' '); }) }, 500);


                        });
                        $('.downbutton').click(function ()
                        {
                            item = $(this).parent().parent().parent();
                            var next = item.next();
                            if (next.length == 0)
                                return;
                            next.css('z-index', 999).css('position', 'relative').animate({ top: '-' + item.height() }, 250);
                            item.css('z-index', 1000).css('position', 'relative').animate({ top: next.height() }, 300, function ()
                            {
                                next.css('z-index', '').css('top', '').css('position', '');
                                item.css('z-index', '').css('top', '').css('position', '');
                                item.insertAfter(next);
                            });
                            setTimeout(function () { $('#sortable span.left').each(function (i) { var numbering = i + 1; $(this).text(numbering + ' '); }) }, 500);
                        });
                        if (flagLock == 1) {

                                            $("#sortable").sortable("destroy"); $("#p_msg").html("Following is the Final Selected List of Subjects :");
                                           // swal("Locked!", "You have already Saved your Preferences!", "warning");
                                            $('.upbutton,.downbutton').attr("disabled", "disabled");
                                            $('.upbutton,.downbutton,#btnLock').attr("disabled", "disabled");
                            $('#btnLock').html('<i class="fa fa-lock"></i> Locked');
                            $('#btnToNext').show();
                                           // window.location.href = '@Url.Action("RegistrationFee", "RegistrationPayment")';

                        }
                    },

                    error: function ()
                    {
                        console.log('Data Failed!');
                    }
                });
                if ($("#btnLock").is(':not(:visible)')) { $("#btnToNext").show(); }

                // disable enter as submit button
                $(window).keydown(function (event) {
                    if (event.keyCode == 13) {
                        event.preventDefault();
                        return false;
                    }
                });

            });
            function clicktoMove() {
        //window.location.href = '@Url.Action("FileUpload", "FileUpload")';
	//window.location.href = '@Url.Action("Login", "Account")';
	swal("Final Submitted!", "You have successfully Saved your Data! You will not be able to change any form values now. Thanks!", "success");
	settimeout(
		function(){window.location.href = '@Url.Action("Logout", "Account")';},3000
	);
    }
    </script>


</head>
<div class="card c-shadow" style="margin-top:50px;">

    <div class="card-body">
        <div class="row">

            <div class="col-md-12 text-center" id="home" style="color:#E91E63;font-weight:700" ;>
                <p id="p_msg" style="color:#223f73;font-weight:800;">Kindly sort the ITI/Trade/Trade Section in order of your preference</p>
                @*<p ></p>*@
                <ol id="sortable" class="striped-list" style="text-align:left;padding:0;"></ol>
            </div>

            <script>
                function confirm_and_lock() {
                    swal({
                        title: "Are you sure?",
                        text: "Your Preferences will be saved",//will not be able to Modify the Preferences!",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: '#DD6B55',
                        confirmButtonText: 'Yes, I am sure!',
                        cancelButtonText: "No, cancel it!",
                        closeOnConfirm: false,
                        closeOnCancel: true
                    },
                        function (isConfirm) {
                            if (isConfirm) {
                                var datatopost = [];
                                var dataLiItem = $("#sortable > li.liItem");
                                for (var i = 0; i < dataLiItem.length; i++) {
                                    var obj = {};
                                    obj.pref_course = $(dataLiItem[i]).attr("value");
                                    obj.pref_no = (i + 1);
                                    console.log($(dataLiItem[i]).attr("value") + '__' + (i + 1));
                                    datatopost.push(obj);
                                }
                                $.ajax({
                                    type: "POST",
                                    contentType: "application/json; charset=utf-8",
                                    //url: "/Account/postpref",
                                    url: "@Url.Action("postpref", "Account")",
                                    data: JSON.stringify(datatopost),
                                    dataType: "json",
                                    success: function (data) {
                                        if (data == "1") {
                                            ConfirmResponse();
                                        }
                                        else {
                                            swal("Alert!", "Something went wrong. Please try again later", "warning");
                                            window.location = "@Url.Action("lockPref", "Account")"

                                        }
                                    }
                                });
                            }
                        });
                }

                          function ConfirmResponse() {
                    swal({
            title: "Success",
            text: "You have successfully Saved your Preferences!",
            type: "success",
            confirmButtonClass: "btn-danger",
            confirmButtonText: "OK",
                    },
              function (isConfirm) {
                if (isConfirm) {
                    window.location = "@Url.Action("RegistrationFee", "RegistrationPayment")"
                }
                else {

                }
            });

        }

            </script>
        </div>
        @if (Session["Verificationstatus"].ToString() == "" || Session["Verificationstatus"].ToString() == "R")
        {

            <div class="row text-center cus-lockbtn">
                <div class="col-md-12">
                    <button class="btn btn-primary c-shadow-1" onclick='confirm_and_lock();' id="btnLock">Save & Next</button>
                    <button class="btn btn-primary c-shadow-1" onclick='toNext();' id="btnToNext" style="display:none"> Next</button>
                </div>
            </div>
        }

    </div>
</div>

@if (Session["Verificationstatus"].ToString() == "F")
{

    <script>
        $('#home').removeClass('active');
        $('#home').addClass('disabledbutton');
    </script>
}