@model  HigherEducation.Models.FeeModule

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fee Pay</title>
    <link href="../assets/css/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/stylepayment.css">
    <link href="~/swalJs/sweetalert.css" rel="stylesheet" />
    <link href="~/swalJs/swal-forms.css" rel="stylesheet" />
    <link href="~/assets/css/all.css" rel="stylesheet" />
    <link href="~/assets/css/jquery-ui.css" rel="stylesheet" />
    <script src="~/assets/js/jquery-ui/jquery-ui.min.js"></script>
    <style>

        body:not(.menu-on-top).desktop-detected {
            min-height: 907px !important
        }

        @@media print {
            #cmd1 {
                display: none;
            }

            .top-heading {
                display: none;
            }

            .main-banner, .cus-progress, .cus-topbar {
                display: none;
            }

            .pcoded-wrapper {
                margin-top: 0px !important;
            }

            .bt-3 {
                padding: 0.1rem 0.3rem;
                margin-bottom: 0px;
            }

                .bt-3 label {
                    font-size: 13px;
                }

            .cus-text h6 {
                font-size: 12px;
            }

            .card-body h5 {
                margin-bottom: 0px !important;
            }

            .card-body {
                margin-top: -10px;
            }
        }
    </style>
</head>

<body>
    <form id="form1">
        <section class="cus-background">
            <div class="container-fluid">
                <div class="row">
                    <div class="card">
                        <div class="card-body">
                            @*<div><a></a></div>*@
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-sm-6 col-12">
                                        <img src="~/assets/images/haryana-logo.png" style="width:60px;" />

                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-6 col-12 text-center" style="margin-top:15px;">
                                        <h4 style="color:#1B3572;font-weight:800;">Department of Higher Education, Haryana</h4>
                                        <h5 style="color:#E91E63;font-weight:800;margin-top:5px;margin-bottom:5px;">(Fee Receipt)</h5>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-6 col-12">
                                    </div>
                                </div>
                            </div>
                            <div class="row cus-inner-data" id="dvPrint">
                                @if (Model.Challan_status == "C" && Model.CancelAdmission != "")
                                {
                                    <div class="col-lg-12 col-md-12 col-sm-6 bt-3 text-center">
                                        <span style="font-size:20px;font-weight:bold;color:red">
                                            <b>
                                                <b>ADMISSION CANCELLED</b>
                                            </b>
                                        </span><br />
                                        <b>Cancellation Remarks:</b>  @Html.DisplayFor(model => model.CancelAdmission, new { @class = "form-control", @style = "font-size:14px;font-weight:bold;color:red" })
                                    </div>
                                }
                                <div class="col-lg-3 col-md-3 col-sm-6 bt-3">
                                    <label class="lblBold">Registration ID</label>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 bt-3">
                                    @Html.DisplayFor(model => model.RegistrationId, new { @class = "form-control" })
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 bt-3">
                                    <label class="lblBold">Name of Student</label>
                                </div>
                                @if (Model.gender_name == "Female")
                                {
                                    <div class="col-lg-3 col-md-3 col-sm-6 bt-3">
                                        @Html.DisplayFor(model => model.CandidateName, new { @class = "form-control" })
                                        <label class="lblBold"><b>D/O Sh.</b></label>
                                        @Html.DisplayFor(model => model.FatherName, new { @class = "form-control" })
                                    </div>
                                }
                                else
                                {
                                    <div class="col-lg-3 col-md-3 col-sm-6 bt-3">
                                        @Html.DisplayFor(model => model.CandidateName, new { @class = "form-control" })
                                        <label class="lblBold"><b>S/O Sh.</b></label>
                                        @Html.DisplayFor(model => model.FatherName, new { @class = "form-control" })
                                    </div>
                                }
                                <div class="col-lg-3 col-md-3 col-sm-6 bt-3">
                                    <label class="lblBold">College Name</label>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 bt-3">
                                    @Html.DisplayFor(model => model.CollegeName, new { @class = "form-control" })
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 bt-3">
                                    <label class="lblBold">Course/Section</label>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 bt-3">
                                    @Html.DisplayFor(model => model.SectionName, new { @class = "form-control" })

                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 bt-3">
                                    <label class="lblBold">Subject Combination</label>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 bt-3">
                                    @Html.DisplayFor(model => model.SubjectCombination, new { @class = "form-control" })

                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 bt-3">
                                    <label class="lblBold">Student Category</label>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 bt-3">
                                    @Html.DisplayFor(model => model.CategoryName, new { @class = "form-control" })

                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 bt-3">
                                    <label class="lblBold">Gender</label>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 bt-3">
                                    @Html.DisplayFor(model => model.gender_name, new { @class = "form-control" })
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 bt-3">
                                    <label class="lblBold">Date of Birth</label>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 bt-3">
                                    @Html.DisplayFor(model => model.ApplicantDOB, new { @class = "form-control" })

                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-6 bt-3">
                                    <label class="lblBold">Total Fee</label>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 bt-3" style="font-size:13px">
                                    &#8377
                                    @Html.DisplayFor(model => model.TotalFee, new { @class = "form-control" })
                                    <span style="position:absolute;">/-</span>
                                    <br />
                                    RUPEEES
                                    @Html.DisplayFor(model => model.TotalFeeNumber, new { @class = "form-control", @style = "font-size:12px" })
                                    <span>ONLY</span>
                                </div>

                                @if (Model.CollegeType == "1")
                                {
                                    <div class="col-lg-3 col-md-3 col-sm-6 bt-3">
                                        <label class="lblBold">Pending Fee</label>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 bt-3" style="font-size:13px">
                                        &#8377
                                        @Html.DisplayFor(model => model.PendingFee, new { @class = "form-control" })
                                        <span style="position:absolute;">/-</span>
                                        <br />
                                        RUPEEES
                                        @Html.DisplayFor(model => model.PendingFeeNumber, new { @class = "form-control" })
                                        <span>ONLY</span>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-lg-3 col-md-3 col-sm-6 bt-3">
                                        <label class="lblBold">Concession</label>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 bt-3" style="font-size:13px">
                                        &#8377
                                        @Html.DisplayFor(model => model.Concession, new { @class = "form-control" })
                                        <span style="position:absolute;">/-</span>
                                        <br />
                                        RUPEEES
                                        @Html.DisplayFor(model => model.ConcessionNumber, new { @class = "form-control" })
                                        <span>ONLY</span>
                                    </div>
                                }


                                <div class="col-lg-3 col-md-3 col-sm-6 bt-3">
                                    <label class="lblBold">Fee Paid</label>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 bt-3">
                                    &#8377
                                    @Html.DisplayFor(model => model.FeePaid, new { @class = "form-control" })
                                    <span style="position:absolute;">/-</span>
                                    <br />
                                    RUPEEES
                                    @Html.DisplayFor(model => model.FeePaidNumber, new { @class = "form-control" })
                                    <span>ONLY</span>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 bt-3">
                                    <label class="lblBold">Annual Fee/Instalment Fee</label>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 bt-3">
                                    @Html.DisplayFor(model => model.FullPart, new { @class = "form-control" })
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 bt-3">
                                    <label class="lblBold">Payment Gateway</label>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 bt-3">
                                    @Html.DisplayFor(model => model.PaymentGateway, new { @class = "form-control" })
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 bt-3">
                                    <label class="lblBold">Mode of Payment</label>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 bt-3">
                                    @Html.DisplayFor(model => model.PaymentMode, new { @class = "form-control" })
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 bt-3">
                                    <label class="lblBold">Date and Time of Payment</label>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 bt-3">
                                    @Html.DisplayFor(model => model.Transactiondate, new { @class = "form-control" })

                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 bt-3">
                                    <label class="lblBold">Transaction Id</label>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 bt-3">
                                    @Html.DisplayFor(model => model.PaymentTransactionId, new { @class = "form-control" })
                                </div>

                                @if (Model.order_id != "")
                                {
                                    <div class="col-lg-3 col-md-3 col-sm-6 bt-3">
                                        <label class="lblBold">Order Id</label>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 bt-3">
                                        @Html.DisplayFor(model => model.order_id, new { @class = "form-control" })
                                    </div>
                                }
                                @if (Model.Bank_ref_no != "--")
                                {
                                    <div class="col-lg-3 col-md-3 col-sm-6 bt-3">
                                        <label class="lblBold">Bank Ref. No.</label>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 bt-3">
                                        @Html.DisplayFor(model => model.Bank_ref_no, new { @class = "form-control" })
                                    </div>
                                }

                                <div class="col-lg-12 col-md-12 cus-text" style="margin-top: 1%; margin-bottom: 1%;padding: 0;">
                                    <h6 style="color: #492A7F;font-weight: 700;">
                                        <span style="color:#ff0000;font-weight:800;">Note:-&nbsp;</span>Admission is Provisional subject to the Verification of Eligibility & Fee Amount by the College/University as per Norms
                                    </h6>
                                    <span style="color: #492A7F;"><strong>a. You will be given Provisional Admission in this course, subject to the verification of your eligibility in this course by the College/Affiliating University. In case of any discrepancy, the college is authorized to cancel the Provisional Admission of the student.</strong></span><br />
                                    <span style="color:#492A7F;"><strong>b. The college is authorized to take the short payment, if any discrepancy, from the student at later stage as per Affiliating University/State Government norms.</strong></span>

                                </div>
                                @if (Model.PaymentMode == "Offline")
                                {
                                    <div class="col-lg-12 col-md-12 text-center cus-text">
                                        <h6 style="color:#E91E63;font-weight:800;">Signature of Cashier</h6>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-lg-12 col-md-12 text-center cus-text">
                                        <h6 style="color:#E91E63;font-weight:800;">This is a system generated fee receipt and does not require any physical signatures.</h6>
                                    </div>
                                }

                                <div class="col-md-12 text-center cus-registerbtn">
                                    <input type="button" class="btn btn-primary c-shadow-1" id="cmd1" value="Print" />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </section>
    </form>

    <script type="text/javascript" src="../assets/js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/js/popperjs/popper.min.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap/Js/bootstrap.min.js"></script>
    <script src="~/swalJs/sweetalert.min.js"></script>
    <script src="~/swalJs/swal-forms.js"></script>
    <script src="~/scripts/printThis.js"></script>
    <script>
        $(document).ready(function () {
            debugger;
            $('#cmd1').on('click', function () {
                window.print();
            })
        });
    </script>

</body>
</html>
