@model  HigherEducation.Models.RankCard
@{
    ViewBag.Title = "RankCard";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;

}
<link href="../assets/css/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<script type="text/javascript" src="../assets/js/jquery/jquery.min.js"></script>
<script type="text/javascript" src="../assets/js/popperjs/popper.min.js"></script>
<script type="text/javascript" src="../assets/js/bootstrap/Js/bootstrap.min.js"></script>
<link href="~/assets/css/jquery-ui.css" rel="stylesheet" />
<script src="~/Content/assets/js/libs/jquery/jspdf.js"></script>
<script src="~/scripts/html2canvas.js"></script>
<style type="text/css">
    #dvPrint label {
        font-weight: 600 !important;
    }

    body:not(.menu-on-top).desktop-detected {
        min-height: 907px !important
    }

    .cus-skill-text-print {
        display: none;
    }

    @@media print {
        #printpdf, #btntest, #btnLogout, #tblfeedetail, #footer, #spnAllo, #spnadmi {
            display: none;
            visibility: hidden;
        }
        /*@@page {
                size: landscape;
            }*/
        .cus-skill-text h4 {
            font-size: 20px;
        }

        .cus-heading-line h5 {
            margin-top: 1px;
        }

        .cus-heading-bg {
            background: #d0cfcf;
            padding: 2px;
            text-align: center;
        }

        .card, .container-fluid, .row {
            padding: 0 !important;
        }

        #dvPrint1 {
            padding: 0 !important;
        }

        .col-lg-10.col-sm-10.col-12.cus-left-section {
            max-width: 600px !important;
        }

        .col-lg-2.col-sm-2.col-12.cus-img-priview.cus-right-section {
            max-width: 100px !important;
        }

        .main-header {
            margin-top: 0px !important;
            margin-bottom: 0px !important;
        }

        #tblrankcard > tbody > tr > td, #tblrankcard > thead > tr > th {
            font-size: 13px !important;
            padding: 2px 2px;
            white-space: pre-wrap;
            vertical-align: middle;
            /* word-break: break-word;*/
        }

        .cus-skill-text-print {
            display: block;
            text-align: center;
            margin-bottom: 1rem;
        }

        .cus-haryana-logo img {
            text-align: right;
        }

        .cus-skill-text {
            visibility: hidden;
        }
    }



    .bottom-text {
        display: inline-block;
        clear: both;
    }

    .cus-border-line {
        border: 1px solid #333;
        padding: 0.6rem;
        text-align: left;
        font-size: 14px;
    }

        .cus-border-line label {
            font-weight: 700;
        }

    .cus-skill-text {
        text-align: center;
    }

    .cus-haryana-logo {
        text-align: right;
    }

    .cus-heading-bg {
        background: #d0cfcf;
        padding: 5px;
        text-align: center;
    }

    .cus-img-priview img {
        height: 190px;
        width: 140px;
    }

    .main-header {
        margin-top: 10px;
        margin-bottom: 5px;
    }

    @@media only screen and (max-width: 640px) {
        .cus-skill-logo {
            text-align: center;
            margin-bottom: 10px;
        }

        .cus-skill-text {
            text-align: center;
            font-size: 16px;
        }

            .cus-skill-text h4 {
                font-size: 16px;
            }

        .cus-haryana-logo {
            text-align: center;
        }

        .cus-img-priview img {
            height: auto;
            width: 100%;
            margin-top: 10px;
        }

        .col-3.cus-border-line {
            max-width: 100% !important;
            -ms-flex: 0 0 50% !important;
            flex: 0 0 50% !important;
        }

        .main-header .col-4 {
            max-width: 100% !important;
            -ms-flex: 0 0 100% !important;
            flex: 0 0 100% !important;
        }
    }

    @@media only screen and (min-width:641px) and (max-width: 767px) {
        .cus-skill-logo {
            text-align: center;
            margin-bottom: 10px;
        }

        .cus-skill-text {
            text-align: center;
            font-size: 16px;
        }

            .cus-skill-text h4 {
                font-size: 16px;
            }

        .cus-haryana-logo {
            text-align: center;
        }

        .cus-img-priview img {
            height: auto;
            width: 100%;
            margin-top: 10px;
        }
    }
</style>

@using (Html.BeginForm("", "AdmissionFee", FormMethod.Post))
{
    <section class="cus-background canvas_div_pdf print-wrap" id="Grid">
        <div class="container-fluid">
            <div id="ppppp">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 cus-skill-text-print">
                    <h4 style="color:#1B3572;font-weight:700;">Skill Development & Industrial Training Department, Haryana</h4>
                    <h5 style="color:#1B3572;font-weight:700;">Online admission 2024-2025</h5>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 main-header">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-4 cus-skill-logo">
                            <img src="~/assets/images/Logo_ITI.png" class="img-fluid img-100" />
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-4 col-4 cus-skill-text">
                            <h4 style="color:#1B3572;font-weight:700;">Skill Development & Industrial Training Department, Haryana</h4>
                            <h5 style="color:#1B3572;font-weight:700;">Online admission 2024-2025</h5>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-4 col-4 cus-haryana-logo">
                            <img src="~/assets/images/haryana-logo-Receipt.png" class="img-fluid img-100" />
                        </div>
                    </div>
                </div>
                <div class="card c-shadow">
                    <div class="card-body cus-heading-line">
                        <div class="col-md-12 text-center cus-heading-bg">
                            <h5><strong>Merit Card - On Spot Counseling</strong></h5>
                        </div>

                        <div class="cus-inner-data1 row" id="dvPrint1" style="padding:1rem;">
                            <div class="col-lg-10 col-sm-10 col-12 cus-left-section">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-3 cus-border-line">
                                        <label>Registration No: </label>

                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-3 cus-border-line">

                                        @Html.DisplayFor(model => model.Reg_id, new { @class = "form-control" })
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-3 cus-border-line">
                                        <label>Candidate Name: </label>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-3 cus-border-line">
                                        @Html.DisplayFor(model => model.CandidateName, new { @class = "form-control" })
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-3 cus-border-line">
                                        <label>Date of Birth: </label>

                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-3 cus-border-line">

                                        @Html.DisplayFor(model => model.ApplicantDOB, new { @class = "form-control" })
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-3 cus-border-line">
                                        <label>Gender: </label>

                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-3 cus-border-line">

                                        @Html.DisplayFor(model => model.Gender, new { @class = "form-control" })
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-3 cus-border-line">
                                        <label>Father Name: </label>
                                        <label class="lblBold"><b>Sh.</b></label>

                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-3 cus-border-line">

                                        @Html.DisplayFor(model => model.FatherName, new { @class = "form-control" })
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-3 cus-border-line">
                                        <label>Mother Name: </label>
                                        <label class="lblBold"><b>Smt.</b></label>

                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-3 cus-border-line">

                                        @Html.DisplayFor(model => model.MotherName, new { @class = "form-control" })
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-3 cus-border-line">
                                        <label>Candidate Category: </label>

                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-3 cus-border-line">

                                        @Html.DisplayFor(model => model.Category, new { @class = "form-control" })
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-3 cus-border-line">
                                        <label>Highest Qualification: </label>

                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-3 cus-border-line">

                                        @Html.DisplayFor(model => model.HighestQualification, new { @class = "form-control" })
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-6 col-3 cus-border-line">
                                        <label>Gram Panchayat weightage: </label>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-3 cus-border-line">

                                        @Html.DisplayFor(model => model.GramPanchayatweightage, new { @class = "form-control" })
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-3 cus-border-line">
                                        <label></label>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-3 cus-border-line">

                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-2 col-sm-2 col-12 cus-img-priview cus-right-section">
                                <img alt="" src="" id="Pviewer" />
                            </div>
                        </div>
                        <div class="col-md-12 cus-heading-bg">
                            <h5><strong>Academic Details </strong></h5>
                        </div>
                        <div class="row" style="margin-bottom:15px;">
                            @foreach (var item in Model.academicDetails)
                            {
                                <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                    @Html.DisplayFor(m => item.ExamPassed, new { @class = "form-control" })
                                    <span>Class &#10004;</span>
                                </div>

                            }
                        </div>

                        <div class="col-md-12 cus-heading-bg">
                            <h5><strong>Marks & Weightage</strong></h5>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-12 table-responsive">
                                <table class="table no-margin table-bordered table-striped table-hover" id="tblrankcard">
                                    <thead>
                                        <tr>
                                            <th width="10px">Sr. No.</th>
                                            <th>Qualification</th>
                                            <th>Marks Obtained(%)</th>
                                            <th>Education Weightage</th>
                                            <th>Widow/Ward of Widow/Orphan Weightage</th>
                                            @*<th>Panchayat Quota Weightage</th>*@
                                            <th>Total marks of merit</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int i = 1;
                                            foreach (var item in Model.marksandWeightages)
                                            {
                                                //var totalPercentage = Convert.ToDecimal(item.MarksWeightage)+ Convert.ToDecimal(item.EducationWeightage)+ Convert.ToDecimal(item.WidowWeightage);
                                                <tr>
                                                    <td><span>@i</span></td>
                                                    <td> @Html.DisplayFor(m => item.Qualification, new { @class = "form-control" })</td>
                                                    <td> @Html.DisplayFor(m => item.MarksWeightage, new { @class = "form-control" })</td>
                                                    <td> @Html.DisplayFor(m => item.EducationWeightage, new { @class = "form-control" })</td>
                                                    <td> @Html.DisplayFor(m => item.WidowWeightage, new { @class = "form-control" })</td>
                                                    @*<td> @Html.DisplayFor(m => item.PanchayatWeightage, new { @class = "form-control" })</td>*@
                                                    <td> @Html.DisplayFor(m => item.TotalMarks, new { @class = "form-control" })</td>
                                                </tr>
                                                i++;
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                <h5 class="display-5">Note for Govt. ITI:-</h5>
                                Gram Panchayat weightage of 5 marks is to be granted at institute level to the candidates
                                belonging to Gram Panchayat who have donated land for the construction of Govt. ITI and
                                candidates want to take admission in that Govt. ITI.
                                List of such Gram Panchayat & Govt. ITI is available on the Departmental and admission
                                website.
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                <h5 class="display-5">Note for Candidates:-</h5>

                                <span>
                                    Candidate need to report ITI of his/her choice between 12/08/2024 to 24/08/2024 before 12:30 PM for admission along with
                                    all relevant documents & facility to pay admission fee through online mode.
                                 
                                </span>

                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 text-right mt-3">
                                <span class="text-monospace text-dark"><strong>Generated on :</strong> @DateTime.Now.ToString("dd/MM/yyyy hh:mm:ss tt")</span>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 text-center cus-registerbtn">
            <input type="button" class="btn btn-primary c-shadow-1" id="printpdf" value="Print" />
        </div>
    </section>

}

<script>
    $(document).ready(function () {

        var Xdoc = '@Model.Photo';
        var cha = Xdoc.toString().substring(0, 5);
        if (cha == 'JVBER') {
            $('#Pviewer').attr('src', ('data:application/pdf;base64,' + Xdoc));
        }
        else if (cha == '/9j/4') {
            $('#Pviewer').attr('src', ('data:image/jpeg;base64,' + Xdoc));

        }
        else if (cha == "iVBOR") {
            $('#Pviewer').attr('src', ('data:image/png;base64,' + Xdoc));
        }
        $('#printpdf').on('click', function () {
            window.print();
        })
        //getPDF1();
        //generatePDF();
    });
</script>
<script type="text/javascript">

</script>
<script type="text/javascript">
    var pdf, page_section, HTML_Width, HTML_Height, top_left_margin, PDF_Width, PDF_Height, canvas_image_width, canvas_image_height;



    function calculatePDF_height_width(selector, index) {
        page_section = $(selector).eq(index);
        HTML_Width = page_section.width();
        HTML_Height = page_section.height();
        top_left_margin = 15;
        PDF_Width = HTML_Width + (top_left_margin * 2);
        PDF_Height = (PDF_Width * 1.2) + (top_left_margin * 2);
        canvas_image_width = HTML_Width;
        canvas_image_height = HTML_Height;
    }

    function generatePDF() {
        pdf = "";
        $("#downloadbtn").hide();
        $("#genmsg").show();
        html2canvas($(".print-wrap:eq(0)")[0], { allowTaint: true }).then(function (canvas) {

            calculatePDF_height_width(".print-wrap", 0);
            var imgData = canvas.toDataURL("image/png", 1.0);
            pdf = new jsPDF('p', 'pt', [PDF_Width, PDF_Height]);
            pdf.addImage(imgData, 'JPG', top_left_margin, top_left_margin, HTML_Width, HTML_Height);

        });



        html2canvas($(".print-wrap")[0], { allowTaint: true }).then(function (canvas) {

            calculatePDF_height_width(".print-wrap", 2);

            var imgData = canvas.toDataURL("image/png", 1.0);
            pdf.addPage(PDF_Width, PDF_Height);
            pdf.addImage(imgData, 'JPG', top_left_margin, top_left_margin, HTML_Width, HTML_Height);



            //console.log((page_section.length-1)+"==="+index);
            setTimeout(function () {

                //Save PDF Doc
                pdf.save("HTML-Document.pdf");

                //Generate BLOB object
                var blob = pdf.output("blob");

                //Getting URL of blob object
                var blobURL = URL.createObjectURL(blob);

                //Showing PDF generated in iFrame element
                var iframe = document.getElementById('sample-pdf');
                iframe.src = blobURL;

                //Setting download link
                var downloadLink = document.getElementById('pdf-download-link');
                downloadLink.href = blobURL;

                $("#sample-pdf").slideDown();


                $("#downloadbtn").show();
                $("#genmsg").hide();
            }, 0);
        });
    };
    function getPDF() {
        var HTML_Width = $(".canvas_div_pdf").width();
        var HTML_Height = $(".canvas_div_pdf").height();
        //var HTML_Width = 595;
        //var HTML_Height = 600;
        var top_left_margin = 15;
        var PDF_Width = HTML_Width + (top_left_margin * 2);
        var PDF_Height = (PDF_Width * 1.5) + (top_left_margin * 2);
        var canvas_image_width = HTML_Width;
        var canvas_image_height = HTML_Height;

        var totalPDFPages = Math.ceil(HTML_Height / PDF_Height) - 1;


        html2canvas($(".canvas_div_pdf")[0], { allowTaint: true }).then(function (canvas) {
            canvas.getContext('2d');

            console.log(canvas.height + "  " + canvas.width);


            var imgData = canvas.toDataURL("image/jpeg", 1.0);
            var pdf = new jsPDF('p', 'pt', [595, 600]);
            //pdf.addImage(imgData, 'JPG', 10, 0, 595, 600);
            pdf.addImage(imgData, 'JPG', top_left_margin, top_left_margin, 570, 570);
            pdf.setFont("helvetica");
            pdf.setFontType("bold");
            pdf.setFontSize(100);
            //pdf.text(50, 50, 'Hello World');
            for (var i = 1; i <= totalPDFPages; i++) {
                pdf.addPage(595, 600);
                pdf.addImage(imgData, 'JPG', 0, canvas_image_width, canvas_image_height);
            }
            pdf.save("Provisional Seat Allotment Letter.pdf");
            //$("#seat_letter").hide();
        });
    };
</script>